* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0d7b9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
#container {
    border-radius: 5px;
    background-color: red;
    width: 550px;
    height: 550px;
    display: flex;
    flex-flow: wrap;
}
.square { 
    border: 1px black solid;
}